*, ::after, ::before {
    box-sizing : border-box;
}

body {
    background            : #3b0930 url(images/bg.jpeg) no-repeat center / cover;
    background-attachment : fixed;
    font-family           : 'Lato', helvetica, arial, sans-serif;
    font-size             : 16px;
    color                 : #333333;
}

ul, p, h1, h2, h3, h4 {
    margin-top : 0;
    margin-bottom : 0;
}

ul {
    padding-left  : 30px;
    margin-bottom : 20px;
}

p {
    font-size     : 1em;
    line-height   : 1.4em;
    margin-bottom : 20px;
    color         : #444;
}

a {
    color           : #337ab7;
    text-decoration : none;
}

.clear {
    clear : both;
}

.btn {
    display             : inline-block;
    margin-bottom       : 0;
    font-weight         : 400;
    text-align          : center;
    white-space         : nowrap;
    vertical-align      : middle;
    -ms-touch-action    : manipulation;
    touch-action        : manipulation;
    cursor              : pointer;
    background-image    : none;
    border              : 1px solid transparent;
    padding             : 6px 12px;
    font-size           : 14px;
    line-height         : 1.42857143;
    border-radius       : 4px;
    -webkit-user-select : none;
    -moz-user-select    : none;
    -ms-user-select     : none;
    user-select         : none;
}

.btn-info {
    color            : #fff;
    background-color : #5cb85c;
    border-color     : #4cae4c;
}

.btn-print {
    color            : #fff;
    background-color : #0084dc;
    border-color     : #007ed4;
}

#cv {
    width      : 90%;
    max-width  : 800px;
    background : #f3f3f3;
    margin     : 30px auto;
}

#main-details {
    padding       : 25px 35px;
    border-bottom : 2px solid #cf8a05;
    background    : #ededed;
    display       : flex;
    align-items   : center;
}

#main-details .name {
    flex-grow : 1;
}

.name h1 {
    font-size     : 2.5em;
    font-weight   : 700;
    font-family   : 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-bottom : -6px;
}

.name h2 {
    font-size   : 2em;
    margin-left : 2px;
    font-family : 'Rokkitt', Helvetica, Arial, sans-serif;
}

#main-area {
    padding : 20px 40px;
}

.headshot {
    width        : 150px;
    float        : left;
    margin-right : 30px;
}

.headshot img {
    width                 : 100%;
    height                : auto;
    -webkit-border-radius : 50%;
    border-radius         : 50%;
}

.name {
    float : left;
}

.contact-details {
    float : right;
}

.contact-details ul {
    list-style-type : none;
    font-size       : 0.9em;
    margin-top      : 2px;
}

.contact-details ul li {
    margin-bottom : 3px;
    color         : #444;
}

.contact-details ul li a, a[href^=tel] {
    color              : #444;
    text-decoration    : none;
    -webkit-transition : all .3s ease-in;
    -moz-transition    : all .3s ease-in;
    -o-transition      : all .3s ease-in;
    -ms-transition     : all .3s ease-in;
    transition         : all .3s ease-in;
}

.contact-details ul li a:hover {
    color : #cf8a05;
}


section {
    border-top : 1px solid #dedede;
    padding    : 20px 0 0;
}

section:first-child {
    border-top  : 0;
    padding-top : 0;
}

section:last-child {
    padding-top : 20px;
}

#work-experience-section .left-column {
    flex-basis : 25%;
    text-align : right;
}

#work-experience-section .job-duration {
    line-height: 23px;
}

.row {
    display        : flex;
    flex-direction : row
}

.column {
    flex    : 0 1 100%;
    padding : 0 5px;
}

.section-title h2 {
    font-family   : 'Rokkitt', Helvetica, Arial, sans-serif;
    font-style    : italic;
    font-size     : 1.5em;
    color         : #cf8a05;
    margin-bottom : 15px;
    font-weight   : 400;
}

.section-content h4 {
    font-family   : 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size     : 1.5em;
    margin-bottom : -2px;
    font-weight   : 400;
}

.sub-details {
    font-size     : 0.8em;
    font-style    : italic;
    margin-bottom : 3px;
}

.key-skills {
    list-style-type      : none;
    -moz-column-count    : 4;
    -webkit-column-count : 4;
    column-count         : 4;
    padding-left         : 0;
    margin-bottom        : 20px;
    font-size            : 1em;
    color                : #444;
}

.key-skills ul li {
    margin-bottom : 3px;
}

#footer {
    padding         : 25px 35px;
    border-top      : 2px solid #cf8a05;
    background      : #ededed;
    display         : flex;
    align-items     : center;
    justify-content : center;
}

#footer .btn {
    margin : 0 5px;
}

@media all and (min-width : 602px) and (max-width : 800px) {
    #headshot {
        display : none;
    }

    .key-skills {
        -moz-column-count    : 2;
        -webkit-column-count : 2;
        column-count         : 2;
    }
}

@media all and (max-width : 601px) {
    #cv {
        width     : 95%;
        margin    : 10px auto;
        min-width : 280px;
    }

    #headshot {
        display : none;
    }

    #name, #contact-details {
        float      : none;
        width      : 100%;
        text-align : center;
    }

    .section-title, .section-content {
        float : none;
        width : 100%;
    }

    .section-title {
        margin-left : -2px;
        font-size   : 1.25em;
    }

    .key-skills {
        -moz-column-count    : 2;
        -webkit-column-count : 2;
        column-count         : 2;
    }
}

@media all and (max-width : 480px) {
    #main-details {
        padding : 15px 15px;
    }

    section {
        padding : 15px 0 0;
    }

    #main-area {
        padding : 0 25px;
    }


    .key-skills {
        -moz-column-count    : 1;
        -webkit-column-count : 1;
        column-count         : 1;
    }

    #name h1 {
        line-height   : .8em;
        margin-bottom : 4px;
    }
}

@media print {
    #cv {
        width : 100%;
    }
}

@-webkit-keyframes reset {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 0;
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity : 0;
    }
    40% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}

@-moz-keyframes reset {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 0;
    }
}

@-moz-keyframes fade-in {
    0% {
        opacity : 0;
    }
    40% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}

@keyframes reset {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 0;
    }
}

@keyframes fade-in {
    0% {
        opacity : 0;
    }
    40% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}

.insta-fade {
    -webkit-animation : reset, fade-in ease-in 1s;
    -moz-animation    : reset, fade-in ease-in 1s;
    animation         : reset, fade-in ease-in 1s;
}


@media print {
    #cv {
        width : auto;
        margin : 0;
    }

    .job {
        page-break-inside: avoid;
    }

    #footer {
        display : none;
    }
}
