<footer id="footer">
    <a class="btn btn-primary" href="mailto:{{ site.data.about.email }}">
        Contact me via email
    </a>
    <a class="btn btn-secondary" href="javascript:window.print();">
        Export to PDF
    </a>
</footer>
