<header id="main-details">
    <div class="headshot">
        <img src="{{ "/assets/images/headshot.jpg" | relative_url }}" alt="{{ site.data.name }}" />
    </div>

    <div class="name">
        <h1>{{ site.data.about.name }}</h1>
        <h2>{{ site.data.about.headline }}</h2>
        <div>{{ site.data.about.location }}</div>
    </div>

    <div class="contact-details">
        <ul>
            <li><a href="mailto:{{ site.data.about.email }}" target="_blank">{{ site.data.about.email }}</a></li>
            <li><a href="https://{{ site.data.about.website }}">{{ site.data.about.website }}</a></li>
            <li>{{ site.data.about.phone }}</li>
        </ul>
    </div>
    <div class="clear"></div>
</header>
