<section id="{{ include.title | slugify }}">
    <article>
        <div class="section-title">
            <h2>{{ include.title }}</h2>
        </div>

        <div class="section-content">
            {{ include.content }}
        </div>
    </article>
</section>
