<section id="{{ include.title | slugify }}">
    <article>
        <h2 class="section-title">{{ include.title }}</h2>

        <div class="section-content">
            {{ include.content }}
        </div>
    </article>
</section>
