/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

/**
 * Basic styling
 */
html {
    font: $base-font-weight #{$base-font-size} $base-font-family;
}

body {
    color: $text-color;
    background-color: $background-primary-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
       -moz-font-feature-settings: "kern" 1;
         -o-font-feature-settings: "kern" 1;
            font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    @media (min-width: $screen-sm) {
        background: #3b0930 url(/assets/images/bg.jpeg) no-repeat center / cover;
        background-attachment: fixed;
    }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * headers
 */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 700;

    @include media-query($screen-md) {
        font-size: 2.4em;
    }
}

h2 {
    font-size: 1.5rem;

    @include media-query($screen-md) {
        font-size: 2em;
    }
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    font-family: inherit;
}

h4 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: inherit;
}

/**
 * `main` element
 */
main {
    display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}


/**
 * Links
 */
a {
    color: $text-color;
    text-decoration: none;

    &:hover {
        color: $brand-color;
        text-decoration: underline;
    }
}

/**
 * Paragraph
 */
p {
    margin-bottom: 20px;
    color: $text-color;
    line-height: $text-line-height;
}

/**
 * Wrapper
 */
.wrapper {
    background-color: $background-primary-color;
    @extend %clearfix;

    @include media-query($screen-sm) {
      margin: $spacing-unit;
    }

    @include media-query($screen-md) {
        max-width: $content-width;
        margin-right: auto;
        margin-left: auto;
    }

    @media print {
        .wrapper {
            width: auto;
            margin: 0;
        }
    }
}


/*
 * Buttons
 */
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 4px;
    user-select: none;
}

.btn-primary {
    color: $text-color-inverse;
    background-color: $brand-color;
    border-color: $brand-color;

    &:hover {
        color: $text-color-inverse;
        background-color: $brand-color-darken;
        border-color: $brand-color-darken;
        text-decoration: none;
    }
}

.btn-secondary {
    color: $brand-color-darken;
    border-color: $brand-color-darken;
    background-color: transparent;

    &:hover {
        color: scale-color($brand-color, $lightness: -30%);
        border-color: scale-color($brand-color, $lightness: -30%);
        text-decoration: underline;
    }
}

/**
 * Clearfix
 */

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

%clearfix {
    @include clearfix;
}
