@charset "utf-8";

$base-font-family: 'Lato', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;

$text-line-height: 1.4 !default;
$spacing-unit: 30px !default;

$text-color: #333 !default;
$text-color-inverse: #fff !default;
$background-primary-color: #f3f3f3 !default;
$background-secondary-color: #ededed !default;

$brand-color: #cf8a05 !default;
$brand-color-darken: scale-color($brand-color, $lightness: -15%) !default;

// Width of the content area
$content-width: 800px !default;

$screen-xs: 480px !default;
$screen-sm: 680px !default;
$screen-md: 860px !default;
$screen-lg: 1448px !default;

// Use media queries like this:
// @include media-query($screen-sm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "base",
  "layout"
;
