---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "style";

.contact-details {
    text-align: center;
    font-size: 0.9rem;

    > div {
        display: inline-block;

        > * {
            vertical-align: middle;
            display: inline-block;
            line-height: 0;
        }

        &:not(:last-child):after {
            content: 'â—';
            font-size: .7em;
            margin: 0 5px;
        }
    }

    @media print {
        .linked-in {
            display: none !important;
        }
    }
}

#header {
    .profile {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        @extend %clearfix;
    }

    .photo {
        width: 120px;
        float: left;
        margin-right: 30px;

        img {
            border-radius: 50%;
        }

        @include media-query($screen-md) {
            width: 150px;
        }
    }

    @media screen and (min-width: $screen-sm), print and (min-width: $print-xs) {
        @include clearfix;

        display: flex;
        align-items: center;

        .profile {
            margin-bottom: 0;
        }

        .contact-details {
            text-align: right;

            > div {
                display: block;
                margin-bottom: 8px;

                &:after {
                    content: none;
                    display: none;
                }
            }
        }
    }
}

.headline {
    h2 {
        margin-bottom: 6px;
    }
}

.entity {
    page-break-inside: avoid;

    .entity-logo {
        width: 56px;
        height: 56px;
        float: left;
        padding: 4px;


        @media screen {
            & + .entity-details .entity-summary-info {
                margin-left: 75px;

                @include media-query($screen-sm) {
                    margin-left: 80px;
                }
            }
        }

        @media print {
            display: none;
        }
    }

    @media screen {
        .entity-summary-info {
            margin-left: 80px;
        }
    }

    .entity-details {
        min-height: 56px;
    }

    .entity-duration {
        color: #666666;
        font-size: $small-font-size;
        font-style: italic;

        span + span:before {
            content: '\00B7';
            margin: 0 5px;
        }
    }
}

.job {
    margin-bottom: 20px;

    .entity-description {
        margin-top: 6px;

        p {
            margin-bottom: 10px;
        }
    }

    &:after {
        content: '';
        display: block;
        margin-top: 16px;
        border-bottom: 1px solid #dedede;
    }

    &:last-child:after {
        content: none;
    }

    &:after, & .entity-description {
        @include media-query($screen-sm) {
            margin-left: 80px;
        }
    }
}

.roles {
    .role {
        list-style: none;
        position: relative;
        padding-bottom: 10px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 16px;
            left: 20px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            height: 8px;
            width: 8px;
        }

        &:not(:last-child):after {
            content: "";
            position: absolute;
            height: calc(100% - 24px);
            min-height: 38px;
            top: 32px;
            left: 23px;
            width: 2px;
            background-color: rgba(0, 0, 0, 0.08);
        }
    }

    .role + .role {
        padding-bottom: 0;
    }
}

.education:not(:last-child) {
    border-bottom: 1px solid #dedede;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.key-skills {
    list-style-type: none;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 1em;
    color: #444;

    ul li {
        margin-bottom: 3px;
    }
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn {
        margin: 0 5px;
    }
}
