---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "style";

.contact-details {
    text-align: center;
    font-size: 0.9rem;

    > div {
        display: inline-block;

        &:not(:last-child):after {
            content: 'â—';
            margin: 0 5px;
        }
    }

    @media print {
        .linkedIn {
            display: none;
        }
    }
}

#main-details {
    padding: 15px 25px;
    border-bottom: 2px solid #cf8a05;
    background: #ededed;

    .profile {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        flex-grow: 1;
        @extend %clearfix;
    }

    .photo {
        width: 120px;
        float: left;
        margin-right: 30px;

        img {
            border-radius: 50%;
        }

        @include media-query($screen-md) {
            width: 150px;
        }
    }

    @include media-query($screen-sm) {
        @include clearfix;

        display: flex;
        align-items: center;

        .profile {
            margin-bottom: 0;
        }

        .contact-details {
            text-align: right;

            > div {
                display: block;
                margin-bottom: 8px;

                &:after {
                    content: none;
                    display: none;
                }
            }
        }
    }

    @include media-query($screen-sm) {
        padding: 25px 35px;
    }
}

.headline {
    h2 {
        margin-bottom: 6px;
    }
}

#main-area {
    padding: 20px 40px;
}

#work-experience .left-column {
    flex-basis: 27%;
    text-align: right;
    padding-right: 10px;
    min-width: 155px;
}

#work-experience .job-duration {
    font-style: italic;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    flex: 0 1 100%;
}

.job {
    .job-logo {
        width: 56px;
        height: 56px;
        float: left;
        padding: 4px;

        & + .job-details .job-summary-info {
            margin-left: 75px;

            @include media-query($screen-sm) {
                margin-left: 80px;
            }
        }
    }

    .job-summary-info {
        margin-left: 80px;
    }

    .job-details {
        margin-top: 16px;
    }

    .job-position {
        font-size: $base-font-size;
        font-weight: 600;
        line-height: 1.5;
        font-family: inherit;
    }

    .job-name {
        font-size: $base-font-size;
        font-weight: 400;
        line-height: 1.5;
        font-family: inherit;
    }

    .job-duration {
        color: #666666;
        font-size: $small-font-size;
    }

    .bullet:before {
        content: '\00B7';
        margin: 0 5px;
    }

    .job-description {
        margin-top: 6px;

        &:after {
            content: '';
            display: block;
            margin-top: 16px;
            border-bottom: 1px solid #dedede;
        }

        @include media-query($screen-sm) {
            margin-left: 80px;
        }
    }
}

.section-title h2 {
    font-style: italic;
    font-size: 1.5em;
    color: #cf8a05;
    margin-bottom: 15px;
    font-weight: 400;
}

.section-content h4 {
    font-size: 1.5em;
    margin-bottom: 4px;
    font-weight: 600;
}

.sub-details {
    font-style: italic;
    margin-bottom: 3px;
}

.key-skills {
    list-style-type: none;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    padding-left: 0;
    margin-bottom: 20px;
    font-size: 1em;
    color: #444;
}

.key-skills ul li {
    margin-bottom: 3px;
}

#footer {
    padding: 25px 35px;
    border-top: 2px solid #cf8a05;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .btn {
    margin: 0 5px;
}

// @media all and (max-width: 601px) {
//     .name, .contact-details {
//         float: none;
//         width: 100%;
//         text-align: center;
//     }

//     .section-title, .section-content {
//         float: none;
//         width: 100%;
//     }

//     .section-title {
//         margin-left: -2px;
//         font-size: 1.25em;
//     }
// }

// @media all and (max-width: 480px) {
//     #main-details {
//         padding: 15px 15px;
//     }

//     section {
//         padding: 15px 0 0;
//     }

//     #main-area {
//         padding: 0 25px;
//     }

//     #name h1 {
//         line-height: .8em;
//         margin-bottom: 4px;
//     }
// }

// @media print {
//     .job {
//         page-break-inside: avoid;
//     }

//     #footer {
//         display: none;
//     }
// }
